@import "_normalize.scss";
@import "../../app/app.component.scss";

/*Variables*/
$mainTextColor: #ffffff;
$mainBackGroundColor: #00b3ee;

h1 {
  background-color: $mainBackGroundColor;
  color: $mainTextColor;
}